*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	width: 100%;
}

body {
	font-family:
		Avenir-Roman, 'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN', 'Hiragino Sans',
		'BIZ UDPGothic', Meiryo, sans-serif;
	font-weight: 300;
}
